<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!--<h3>Practice..</h3>
            <hr>
            <app-servers></app-servers>
            <hr>
            <h3>Assignment 1: Practicing Components</h3>
            <hr>
            <ol>
                <li>Create two new components</li>
                <li>Output them beneath each other</li>
                <li>Output warning or success message in these components</li>
                <li>Style the components appropriately</li>
            </ol>
            <hr>
            <app-warning></app-warning>
            <app-success></app-success>
            <hr>
            <h3>Assignment 2: Practicing Databinding</h3>
            <hr>
            <app-username></app-username>
            <hr>-->
            <h3>Assignment 3: Practicing Directives</h3>
            <hr>
            <app-details></app-details>
        </div>
    </div>
</div>